@(printTodaysForm: Form[PrintTodays])
@import helper._
@import helper.twitterBootstrap._

@main("Start the Holmes Motors Window Sticker Printing Application") {
	<div class="wrapper">
		<div class="left"></div>
		<div class="center"><span>
			<center><img src=@routes.Assets.at("images/HolmesMotorsLogo.jpg")/></center>
			<h1><center>Window Sticker(s) Printing for today's inventory.......</center></h1>
			@helper.form(action = routes.Application.printTodays()) {
		</span></div>
   		<div class="right"></div>
	</div>
	}
}
